export CLOUDID=transcriptor:dXMtZWFzdC0xLmF3cy5mb3VuZC5pbyRhNTQ1NDBlOTRjMmM0Y2YwYWI2MmI4Nzk1NjYyY2RlNCQyYzFjZjBmNWQ1MzY0N2IyOWIxZDg3NGExZTJkM2ExOQ==
export ELASTIC_API=ZGRlZnNuTUJzbjNiVUtRUVdPb246dENJc0llWXFTMkNmY21GUzJWQU4tUQ==
export ELASTIC_PWD=046Y1KzHVu6pdG9nJyNCIjze
